{% extends "dashboard/base.html" %}

{% load static %}

{% block dashboard_title %}
  Artist
  <br />
  <span>Listing the artist</span>
{% endblock dashboard_title %}
{% block dashboard_content %}
  <div class="container-fluid p-4 mt-3">
    <div class="user_lists">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <div class="search">
              <form class="d-flex" role="search">
                <input class="form-control me-2"
                       type="search"
                       placeholder="Search"
                       aria-label="Search"
                       disabled />
                <button class="btn btn-outline-success" type="submit" disabled>Search</button>
              </form>
            </div>
            <div class="right d-flex flex-row gap-2">
              <div class="add_new_user">
                <a href="{% url "dashboard_music_create" %}" class="btn btn-secondary">Add Music</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body p-3">
          <div class="table-responsive mt-3">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">artist</th>
                  <th scope="col">title</th>
                  <th scope="col">album_name</th>
                  <th scope="col">genre</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Updated At</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for song in songs %}
                  <tr>
                    <td scope="row">{{ song.id }}</td>
                    <td>{{ song.artist_id }}</td>
                    <td>{{ song.title }}</td>
                    <td>{{ song.album_name }}</td>
                    <td>{{ song.genre }}</td>
                    <td>{{ song.created_at }}</td>
                    <td>{{ song.updated_at }}</td>
                    <td>
                      <a href="{% url "dashboard_music_update" song.id %}"
                         class="btn btn-secondary"><ion-icon name="create-outline"></ion-icon></a>
                      <button type="button"
                              class="btn btn-danger"
                              data-bs-toggle="modal"
                              data-bs-target="#id_modal_{{ song.id }}">
                        <ion-icon name="close-circle-outline"></ion-icon>
                      </button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                {% if songs.has_previous %}
                  <li class="page-item">
                    <a class="page-link"
                       href="?page={{ songs.previous_page_number }}"
                       aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                {% endif %}
                {% for page_num in songs.paginator.page_range %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                  </li>
                {% endfor %}
                {% if songs.has_next %}
                  <li class="page-item">
                    <a class="page-link"
                       href="?page={{ songs.next_page_number }}"
                       aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block modal %}
    {% for song in songs %}
      <div class="modal fade"
           id="id_modal_{{ song.id }}"
           tabindex="-1"
           aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Are you sure to delete {{ song.title }}?</h5>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <form action="{% url "dashboard_music_delete" song.id %}" method="post">
              {% csrf_token %}
              <div class="modal-footer">
                <button type="submit" class="btn btn-danger">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endblock modal %}
{% endblock dashboard_content %}
